!!!
html

head
  title muon.js
  meta(charset='utf-8')
  link(rel='stylesheet', href='api.css')

body

  aside
    dl
      for module in modules
        dt
          a(href='#' + module.namespace)= module.namespace
        for comment in module.comments
          - var name = comment.ctx? comment.ctx.name : '-';
          dd
            a(href='#' + module.namespace + '.' + name)= name

  .content
    h1 muon.js
    dl
      for module in modules
        dt(id=module.namespace)= module.namespace
        dd
          for comment in module.comments
            if comment.ctx
              - var ctx = comment.ctx
              dl(id=module.namespace + '.' + ctx.name)
                dt= ctx.name
                dd
                  code= ctx.declaration
                if comment.description
                  - var description = comment.description
                  dd!= description.full
